body {
  overflow: hidden;
}

.chonky-chonkyRoot {
  font-weight: 500;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
  border-width: "1px 1px 1px 6px";
}

pre::-webkit-scrollbar-corner {
  background: transparent;
}
